
        <link rel="stylesheet" href="/css/stylesheet.css">
        <title>Green Petition</title>

        <div id="central">

            <div id="message">

                <div class="box">

                    <div class="txt">
                        <p>Here we fight for stricter laws to protect our environment!</p>
                        <p></p>
                        <p>We are tired of seeing environmental crimes not be avoided and those responsible not being penalized...</p>
                        <p>If you are like us and want a better planet to live, join this fight!</p>

                        <form method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <button>Continue to Register</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
